<div class="page h-100">
  <div class="content-padding h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
      <h1>
        Análise e previsão de resultados para a partida entre <%= home.name %> x
        <%= away.name %> pelo Campeonato Brasileiro Série A <%= season %> -
        Rodada <%= round %>
      </h1>
    </div>
  </div>
</div>
