<div class="page">
  <div class="content-padding">
    <h2>
      <strong>
        6. Classificação da relevância das metricas para previsão do resultado
      </strong>
    </h2>

    <!-- Informações -->
    <p>
      Para prever o resultado de um confronto, todas as métricas relevantes
      foram mencionadas anterioremente nesse documento. Porém, algumas
      informações exercem uma influência maior sobre outras. A seguir, lista-se
      como as informações podem ser classificadas quanto ao impacto para
      previsão do resultado, no qual
      <strong>1 é pouco relevante e 5 é muito relevante</strong>:
    </p>

    <table>
      <thead>
        <tr>
          <th>Métrica</th>
          <th>Relevância/Peso (1-5)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mando de campo</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Posição/Classificação do time</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Desempenho nos últimos 5 jogos</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Avaliação do elenco</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Análise qualitativa</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Previsões UFMG</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Previsões API Football</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
