<div class="page">
  <div class="content-padding">
    <h2>
      <strong> 2. Valor dos elencos por time</strong>
    </h2>

    <p>
      A tabela a seguir exibe o valor total de mercado de cada equipe,
      destacando a importância financeira de cada elenco.
    </p>

    <p>
      Estudos e análises de campeonatos anteriores indicam que times com elencos
      mais valiosos tendem a ter um desempenho superior no campeonato, bem como
      partidas entre times com orçamento muito distinto tendem ter um resultado
      positivo para o time mais favorecido financeiramente. Isso se deve à
      capacidade desses clubes de atrair e manter jogadores de alta qualidade,
      investir em treinamentos avançados e infraestrutura, e oferecer melhores
      condições de trabalho para seus atletas. Portanto, ao observar os valores
      dos elencos, podemos inferir potenciais favoritos e possíveis surpresas
      para a temporada atual.
    </p>

    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Avaliação do elenco (em milhões de R$)</th>
        </tr>
      </thead>
      <tbody>
        <% teams.forEach(team => { %>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.squadValue %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
