<div class="page h-100">
  <div class="content-padding h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
      <h1>
        Relatório para análise e previsão de apostas para a partida entre <%=
        home.name %> x <%= away.name %> pela próxima rodada do Campeonato
        Brasileiro Série A - Temporada <%= season %>
      </h1>
    </div>
  </div>
</div>
