<div class="page">
  <div class="content-padding">
    <h5><strong>1. Sobre o campeonato</strong></h5>

    <!-- Introdução -->
    <p>
      O Campeonato Brasileiro Série A, comumente conhecido como Brasileirão, é a
      principal competição de futebol profissional no Brasil. Organizado pela
      Confederação Brasileira de Futebol (CBF), o campeonato conta com 20 clubes
      que disputam o título em um sistema de pontos corridos, no qual cada
      equipe joga contra todas as outras duas vezes, uma em casa e outra fora,
      totalizando 38 rodadas. A equipe que acumula o maior número de pontos ao
      final dessas rodadas é declarada campeã.
    </p>

    <!-- Libertadores -->
    <h6><strong>Classificação para a Copa Libertadores</strong></h6>

    <p>
      A Copa Libertadores da América é a principal competição de clubes da
      América do Sul, organizada pela CONMEBOL. No Brasileirão:
    </p>

    <ul>
      <li>
        <strong>Os quatro primeiros colocados</strong> (1º ao 4º lugar) se
        classificam diretamente para a fase de grupos da Copa Libertadores do
        ano seguinte.
      </li>

      <li>
        <strong>O quinto e o sexto colocados</strong> (5º e 6º lugar) se
        classificam para a fase preliminar da Libertadores, chamada de
        "Pré-Libertadores", onde precisam disputar algumas rodadas eliminatórias
        para chegar à fase de grupos.
      </li>
    </ul>

    <p>
      Além desses, dependendo do desempenho de times brasileiros em outras
      competições, como a Copa do Brasil ou a própria Libertadores, vagas
      adicionais podem ser abertas para equipes que terminam em posições mais
      baixas na tabela do Brasileirão.
    </p>

    <!-- Rebaixamento -->
    <h6><strong>Rebaixamento para a Série B</strong></h6>

    <p>
      Os quatro últimos colocados (17º ao 20º lugar) ao final da temporada são
      rebaixados para a Série B do Campeonato Brasileiro. Esses times disputarão
      a segunda divisão no ano seguinte, sendo substituídos pelos quatro
      melhores times da Série B, que são promovidos para a Série A.
    </p>

    <!-- Impacto na competição -->
    <h6><strong>Impacto na competição</strong></h6>

    <ul>
      <li>
        <strong>Para as equipes da parte superior da tabela</strong>: A disputa
        pelas vagas na Libertadores é intensa, pois a participação nesse torneio
        não só é prestigiosa como também financeira, com prêmios substanciais e
        grande visibilidade.
      </li>

      <li>
        <strong>Para as equipes da parte inferior da tabela</strong>: O objetivo
        principal é evitar o rebaixamento, o que frequentemente resulta em
        mudanças de treinadores, contratações de emergência e uma série de
        esforços para melhorar o desempenho nos jogos finais.
      </li>
    </ul>
  </div>
</div>
