<div class="page d-flex justify-content-center align-items-center vh-100">
  <h3 class="text-center">
    Análise estatística para previsão de apostas esportivas da partida entre <%=
    home.team.name %> x <%= away.team.name %> pela rodada <%= round %> do
    Campeonato Brasileiro Série A <%= season %>
  </h3>
</div>
